<div class="header">
    <a class="appname" href="/" >FriendPost</a>
    <div class="user-menu">
        <span class="username">
            <%= pagedata.user.name %>
        </span>
        <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/auth/logout">Log Out</a>
        </div>
    </div>
</div>
<script>
    window.user = {
        id: "<%= pagedata.user.id %>",
        name: "<%= pagedata.user.name %>"
    };
</script>
